@using RealEstate.Helpers
@using Microsoft.AspNetCore.Mvc.Infrastructure;

<div class="main-tab-wrapper">
    <div class="content-bg">
        <div class="row justify-content-between">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="pill" href="#pills-clients" role="tab" aria-controls="pills-all-people"
                       aria-selected="true">Lead Flow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-todays-leads-tab" data-toggle="pill"
                       href="#" role="tab" aria-controls="pills-todays-leads"
                       aria-selected="false">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Html.IsSelectedMultiple(controllers: "Admin", actions: "Team,AddAgents"))" id="pills-clients-tab" asp-action="Team" asp-controller="Admin"
                       role="tab" aria-controls="pills-clients" aria-selected="false">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Html.IsSelectedMultiple(controllers: "Admin", actions: "AdminUser,AddAdminUser"))" id="pills-clients-tab" asp-action="AdminUser" asp-controller="Admin"
                       role="tab" aria-controls="pills-clients" aria-selected="false">Admin User</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link @(Html.IsSelectedMultiple(controllers: "Admin", actions: "UserHubSportAPI"))" id="pills-clients-tab" asp-action="UserHubSportAPI" asp-controller="Admin"
                           role="tab" aria-controls="pills-clients" aria-selected="false">Hub Sport API Key</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients"
                       role="tab" aria-controls="pills-clients" aria-selected="false">Automation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients"
                       role="tab" aria-controls="pills-clients" aria-selected="false">Ponds</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients"
                           role="tab" aria-controls="pills-clients" aria-selected="false">Email Templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients"
                           role="tab" aria-controls="pills-clients" aria-selected="false">Text Templates</a>
                    </li>*@
                <li class="nav-item dropdown profile-link-wrapper">
                    <a class="nav-link dropdown-toggle profile-img-wrapper @(Html.IsSelectedMultiple(controllers: "Admin", actions: "EmailTemplate,AddEmailTemplate,TextTemplate,AddTextTemplate"))" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Marketing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Admin", actions: "EmailTemplate,AddEmailTemplate"))" asp-action="EmailTemplate" asp-controller="Admin">Email Template</a>
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Admin", actions: "TextTemplate,AddTextTemplate"))" asp-action="TextTemplate" asp-controller="Admin">Text Template</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients"
                       role="tab" aria-controls="pills-clients" aria-selected="false">Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Html.IsSelectedMultiple(controllers: "Admin", actions: "CustomFields,AddCustomFields"))" id="pills-clients-tab" asp-action="CustomFields" asp-controller="Admin"
                       role="tab" aria-controls="pills-clients" aria-selected="false">Custom Fields</a>
                </li>
                <li class="nav-item dropdown profile-link-wrapper">
                    <a class="nav-link dropdown-toggle profile-img-wrapper @(Html.IsSelectedMultiple(controllers: "Company,Admin", actions: "CompanySetting,Stage,AddStage,Tags,AddTags,AppointmentTypes,AddAppointmentTypes,AppointmentOutcomes,AddAppointmentOutcomes"))" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Company", actions: "CompanySetting"))" asp-action="CompanySetting" asp-controller="Company">Company</a>
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Admin", actions: "Stage,AddStage"))" asp-action="Stage" asp-controller="Admin">Stage</a>
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Admin", actions: "Tags,AddTags"))" asp-action="Tags" asp-controller="Admin">Tags</a>
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Admin", actions: "AppointmentTypes,AddAppointmentTypes"))" asp-action="AppointmentTypes" asp-controller="Admin">
                            Appointment Types
                        </a>
                        <a class="dropdown-item @(Html.IsSelectedMultiple(controllers: "Admin", actions: "AppointmentOutcomes,AddAppointmentOutcomes"))" asp-action="AppointmentOutcomes" asp-controller="Admin">
                            Appointment Outcomes

                        </a>
                    </div>
                </li>
            </ul>
            @{
                string actionName = this.ViewContext.RouteData.Values["action"].ToString();
                string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                @*if (actionName == "Team" && controllerName == "Admin")
                    {
                        <div class="list-button-wrapper mr-4">
                            <a asp-action="AddAgents" class="btn btn-primary mr-2">+ Add User</a>
                        </div>
                    }*@

                @*if (actionName == "AdminUser" && controllerName == "Admin")
                    {
                        <div class="list-button-wrapper mr-4">
                            <a asp-action="AddAdminUser" class="btn btn-primary mr-2">+ Add Admin User</a>
                        </div>
                    }*@

                if (actionName == "UserHubSportAPI" && controllerName == "Admin")
                {
                    <div class="list-button-wrapper mr-4">
                        <a asp-action="AddAPIKey" class="btn btn-primary mr-2">+ Add Api Key</a>
                    </div>
                }

                @*if (actionName == "Stage" && controllerName == "Admin")
                    {
                        <div class="list-button-wrapper mr-4">
                            <a asp-action="AddStage" class="btn btn-primary mr-2">+ Add Stage</a>
                        </div>
                    }*@
                @*if (actionName == "Tags" && controllerName == "Admin")
                    {
                        <div class="list-button-wrapper mr-4">
                            <a asp-action="AddTags" class="btn btn-primary mr-2">+ Add Tags</a>
                        </div>
                    }*@
            }
        </div>
    </div>
</div>