@*@model IEnumerable<LeadEmailMessageViewModel>*@
@model LeadEmailDetails
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .circle__spinner {
        animation: 2s linear infinite svg-animation;
        max-width: 100px;
    }

    .circle_loader {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999;
        background-color: rgba(0,0,0,0.6);
    }

    .circle__item {
        width: 200px;
        height: 200px;
    }
</style>
<div class="circle_loader" id="divLoader" style="display:none;">
    <div class="circle__item">
        <svg class="circle__spinner" viewBox="0 0 100 100">
            <circle class="path" cx="50" cy="50" r="45" fill="none" stroke="#93bfec" stroke-width="1"></circle>
        </svg>
    </div>
</div>
<div class="content-wrapper mailbox-wrapper">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12 col-lg-2 bg-white myinbox">
                <div class="content-bg">
                    <div class="mb-4">
                        <a class="btn btn-primary mr-2 btn-block" href="#"> Compose <i class="fa fa-envelope-o"></i> </a>
                    </div>
                    <div class="mail-nav">
                        <h6 class="mb-3">Messages</h6>
                        <ul class="list-unstyled">
                            <li class="active"><a href="#"> <i class="fa fa-inbox"></i> Inbox @*<span class="badge badge-pill badge-success float-right">12</span>*@ </a></li>
                            @*<li><a href="#"> <i class="fa fa-paper-plane-o"></i> Sent</a></li>
                            <li><a href="#"> <i class="fa fa-file-o"></i> Drafts <span class="badge badge-pill badge-danger float-right">20</span></a></li>
                            <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
                            <li><a href="#"> <i class="fa fa-info-circle"></i> Important <span class="badge badge-pill badge-warning float-right">50</span></a></li>
                            <li><a href="#"> <i class="fa fa-envelope-o"></i> spam</a></li>
                            <li><a href="#"> <i class="fa fa-star-o"></i> Starred</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 bg-white conversations">
                <div class="content-bg">
                    @*<div class="widget-search mb-4">
                            <i class="fa fa-search"></i>
                            <input type="search" class="form-control" placeholder="Search....">
                        </div>*@

                    <div class="user-list">
                        <ul class="list-unstyled">
                            @if (Model.LeadEmailMessageViewModel.Count() > 0)
                            {
                                @foreach (var item in Model.LeadEmailMessageViewModel)
                                {

                                    string FromName = string.Empty;
                                    string str = item.ToName;
                                    String[] s = str.Split(' ');
                                    foreach (String values in s)
                                    {
                                        FromName += values[0] + " ";
                                    }

                                    <li class="pt-3" id="showMailBodyClick_@item.LeadEmailMessageId" onclick="showMailBody(@item.LeadEmailMessageId,@item.LeadId)">
                                        <a href="#">
                                            <div class="media px-2">
                                                <div class="position-relative fileImg">
                                                    @*<img class="img-fluid mr-2 avatar-small" src="~/image/support-2.png" alt="">*@
                                                    @FromName
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="mt-0 "> @item.ToName <small class="float-right"> @Convert.ToString(string.Format("{0:MMMM dd}", item.CreatedDate))</small> </h6>
                                                    <div class="float-right">
                                                        @*<span class="badge badge-pill badge-primary">Private</span>*@
                                                    </div>
                                                    <p class="text-muted"> @item.Subject </p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="divider mt-15"></div>
                                    </li>
                                }
                            }
                            else
                            {
                                <li><span style="text-align:center;color:#777">No Email Found.</span></li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-5 bg-white inbox-mailbox">
                <div id="MailBodyList">
                </div>
            </div>
            <div class="col-12 col-lg-2 bg-white mailbox-info">
                <div id="MailBodyRight">
                    </div>
                @*<partial name="_MailBodyRight" />*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var allButtons = jQuery('.pt-3');
    jQuery('.pt-3').click(function (e) {
        var $active = jQuery(this);
        allButtons.removeClass('bg-light');
        $active.addClass('bg-light');
    });
    function showMailBody(LeadEmailMessageId,LeadId) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            contentType: "application/html; charset=utf-8",
            //url: "/MailBox/LoadBodyById",
            url: '@Url.Action("LoadBodyById", "MailBox")?Id=' + LeadEmailMessageId,
            dataType: "html",
            //data: JSON.stringify({ "Id": LeadEmailMessageId }),
            //data: JSON.stringify({ "subjectId": $('#subjectId').val(), "sortOrder": sortOrder }),
            async: true,
            success: function (result) {
                //console.log(result);
                $('#MailBodyList').empty().html(result);
                $(".custom-card-text img").each(function () {
                    var altText = $(this).attr("src");
                    $(this).addClass("img-fluid");
                    $(this).removeAttr("style");
                })
                $(".pt-3").each(function () {
                    var id = $(this).attr("id").replace("showMailBodyClick_", "");
                    if (id == LeadEmailMessageId) {
                        $("#showMailBodyClick_" + LeadEmailMessageId).addClass('bg-light');
                    }
                    else {
                        $("#showMailBodyClick_" + id).removeClass('bg-light');
                    }
                })
                $("#divLoader").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#divLoader").hide();
                return false;
            }
        });
        $.ajax({
            type: "POST",
            contentType: "application/html; charset=utf-8",
            url: '@Url.Action("LoadLeadDetailsById", "MailBox")?Id=' + LeadEmailMessageId + '&LeadId=' + LeadId,
            dataType: "html",
            async: true,
            success: function (result) {
                $('#MailBodyRight').empty().html(result);
                $("#divLoader").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#divLoader").hide();
                return false;
            }
        });
    }
    $("document").ready(function () {
        setTimeout(function () {
            /*$(".pt-3").trigger('click');*/
            $(".pt-3").first().click();
        }, 10);
    });

</script>
