@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "AdminUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="alert" id="divAlertMessage" style="display:none"></div>

<div class="alert alert-success" id="SuccessMsg" role="alert" style="display:none;"></div>
<div class="alert alert-danger" id="ErrorMsg" role="alert" style="display:none;"></div>

<div class="modal fade" id="divEditAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div role="alert" id="divErrorMsgAdmin" style="display:none"></div>
                <input type="hidden" id="hdnEditAdminID" />
                <label>Full Name:</label><input type="text" id="txtEditFullName" class="form-control" /><br />
                <label>Email:</label><input type="email" id="txtEditEmailAddress" class="form-control" /><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="fnUpdateAdminDetails()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<partial name="_MenuBar" />
<div class="content-bg mt-3">
    <div class="row">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all-people" role="tabpanel"
                 aria-labelledby="pills-all-people-tab">
                <div class="custom-card-text">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Is Active</th>
                                <th scope="col">Created</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="table-profile-detail">

                                                <div class="profile-detail">
                                                    <a href="#">@item.FullName</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.EmailAddress</td>
                                        @if (item.IsActive == true)
                                        {
                                            <td><font color="Green"><b><button title="Click here to Deactivate User" class="btn btn-success" onclick="javascript:fnActivateDeactivateUser(@item.UserId,0)">Active</button></b></font></td>
                                        }
                                        else
                                        {
                                            <td><font color="Green"><b><button title="Click here to Activate User" class="btn btn-danger" onclick="javascript:fnActivateDeactivateUser(@item.UserId,1)">In-Active</button></b></font></td>
                                        }
                                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy hh:mm}", item.CreatedDate))</td>
                                        <td>
                                            @*<button onclick="return ConfirmationDialog(@item.AgentId)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>*@
                                            <button onclick="fnPopulateControls(@item.UserId)" class="btn btn-warning" title="Click to edit record.">
                                                Edit
                                            </button>
                                            <button onclick="return ConfirmationDialog(@item.UserId)" class="btn btn-danger" title="Click to delete record.">Delete </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4"><h5>No User Found.</h5></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/SiteJavascripts/AdminList.js"></script>
