
@model IEnumerable<AgentViewModel>
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div role="alert" id="divAlertMessage" style="display:none"></div>
<div class="alert alert-danger" id="ErrorMsg" role="alert" style="display:none;"></div>
<div class="alert alert-success" id="SuccessMsg" role="alert" style="display:none;"></div>
<div class="modal fade" id="divEditAgent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div role="alert" id="divErrorMsgAgent" style="display:none"></div>
                <input type="hidden" id="hdnEditAgentID" />
                <label>Full Name:</label><input type="text" id="txtEditAgentFullName" class="form-control" /><br />
                <label>Email:</label><input type="email" id="txtEditEmailAddress" class="form-control" /><br />
                <label>Cell Phone:</label><input onkeydown="javascript:backspacerDOWN(this,event);"
                                                 onkeyup="javascript:backspacerUP(this,event);" type="text" id="txtEditCellPhone" class="form-control" /><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="fnUpdateAgentDetails()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<partial name="_MenuBar" />

<div class="content-bg mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header top-header">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="m-b-0 text-white">Team</h4>
                            <a asp-action="AddAgents" class="btn btn-primary mr-2">+ Add User</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-all-people" role="tabpanel"
                             aria-labelledby="pills-all-people-tab">
                            <div class="custom-card-text">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count() > 0)
                                        {
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="table-profile-detail">

                                                            <div class="profile-detail">
                                                                <a href="#">@item.FullName</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>@item.EmailAddress</td>
                                                    <td>
                                                        <a href="#" class="table-icon-call">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-phone">
                                                                <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <a href="tel:@item.CellPhone" class="table-phone-number">@item.CellPhone</a>
                                                    </td>
                                                    @if (item.IsActive == true)
                                                    {
                                                        <td><font color="Green"><b><a title="Click here to Deactivate User" style="color:#1e7e34" onclick="javascript:fnActivateDeactivateAgent(@item.AccountId,0)">Active</a></b></font></td>
                                                    }
                                                    else
                                                    {
                                                        <td><font color="Green"><b><a title="Click here to Activate User" style="color:#dc3545" onclick="javascript:fnActivateDeactivateAgent(@item.AccountId,1)">In-Active</a></b></font></td>
                                                    }
                                                    <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy hh:mm}", item.CreatedDate))</td>
                                                    <td>
                                                        @*<button onclick="return ConfirmationDialog(@item.AgentId)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>*@
                                                        <b>
                                                            <a onclick="fnPopulateControls(@item.AccountId)" style="color:#007bff" title="Click to edit record.">
                                                                Edit
                                                            </a>
                                                        </b>|
                                                        <b><a onclick="return ConfirmationDialog(@item.AccountId)" style="color:#dc3545" title="Click to delete record.">Delete </a></b>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr style="text-align:center;color:#777">
                                                <td colspan="6">No Agent Found.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/phone.js"></script>
<script src="~/SiteJavascripts/AgentList.js"></script>
