@model IEnumerable<HubSportViewModel>
@{
    ViewData["Title"] = "UserHubSportAPI";
}
<div role="alert" id="divAlertMessage" style="display:none"></div>
<div class="alert alert-success" id="SuccessMsg" role="alert" style="display:none;"></div>
<div class="alert alert-danger" id="ErrorMsg" role="alert" style="display:none;"></div>

<div class="modal fade" id="divEditAPI" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update API Key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div role="alert" id="divErrorMsgAPI" style="display:none"></div>
                <input type="hidden" id="hdnLoginUserId" />
                <input type="hidden" id="hdnHubSportId" />
                <label>API Key:</label><input type="text" id="txtAPIKey" class="form-control" /><br />
                <label>IsActive:</label><input type="checkbox" id="chkIsActive" class="form-check-input"/><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="fnUpdateAdminDetails()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<partial name="_MenuBar" />
<div class="content-bg mt-3">
    <div class="row">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all-people" role="tabpanel"
                 aria-labelledby="pills-all-people-tab">
                <div class="custom-card-text">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">API Key</th>
                                <th scope="col">Status</th>
                                <th scope="col">Created</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="table-profile-detail">

                                                <div class="profile-detail">
                                                    <a href="#">Full Name</a> @*@item.User.FullName*@
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.HubSportAPIKey</td>
                                        @if (item.IsActive == true)
                                        {
                                            <td><font color="Green"><b><a title="Click here to Deactivate Key" style="color:#1e7e34" onclick="javascript:fnActivateDeactivateAPI(@item.Id,@item.UserId,0)">Active</a></b></font></td>
                                        }
                                        else
                                        {
                                            <td><font color="Green"><b><a title="Click here to Activate Key" style="color:#dc3545" onclick="javascript:fnActivateDeactivateAPI(@item.Id,@item.UserId,1)">In-Active</a></b></font></td>
                                        }
                                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy hh:mm}", item.CreatedDate))</td>
                                        <td>
                                            @*<button onclick="return ConfirmationDialog(@item.AgentId)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>*@
                                            <b>
                                                <a onclick="fnPopulateControls(@item.Id,@item.UserId)" style="color:#007bff" title="Click to edit record.">
                                                    Edit
                                                </a>
                                            </b>|
                                            <b><a onclick="return ConfirmationDialog(@item.Id,@item.UserId)" style="color:#dc3545" title="Click to delete record.">Delete </a></b>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4"><h5>No API Key Found.</h5></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/SiteJavascripts/HubSportList.js"></script>
